trigger:
  branches:
    include:
    - master
    - idt-develop
    - idt-feature-LC-*
    - idt-release-v*
    - idt-hotfix-v*
  tags:
    include:
      - '*'

pool:
  vmImage: ubuntu-latest

steps:
  - task: PythonScript@0
    inputs:
      scriptPath: './build_files.py'

  - task: Docker@2
    inputs:
      containerRegistry: 'lpgregistry ACR'
      ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags') }}:
        repository: 'rustici-engine/prod'
      ${{ else }}:
        repository: 'rustici-engine/test'
      command: 'buildAndPush'
      Dockerfile: '**/Dockerfile'
      tags: '$(Build.SourceBranchName)'